# macOS
.DS_Store

# R / RStudio temporary files
.Rhistory
.RData
.RDataTmp
.Rproj.user/
.Ruserdata

# Temporary / lock files
~$*
*.tmp
*.temp

# Large processed R objects
data/processed/*.rds

# Raw downloaded data
data/raw/*